.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

/** CSS for non-standard jQuery Mobile styles or Codiqa components **/
.split-wrapper {
  width: 100%;
  min-height: 200px;
  clear: both;
}
@media all and (min-width: 650px) {
  .content-secondary {
    text-align: left;
    float: left;
    width: 45%;
    background: none;
    padding: 1.5em 6% 3em 0;
    margin: 0;
  }
  .content-secondary {
    background: none;
    border-top: none;
  }
  .content-primary {
    width: 45%;
    float: right;
    margin-right: 1%;
    padding-right: 1%;
  }
  .content-primary ul:first-child {
    margin-top: 0;
  }
  .content-secondary ul.ui-listview, .content-secondary ul.ui-listview-inset {
    margin: 0;
  }
  .content-secondary ul.ui-listview .ui-li-divider, .content-secondary ul.ui-listview .ui-li {
    border-radius: 0px;
  }
  .content-secondary ul.ui-listview .ui-li {
    border-left: 0;
    border-right: 0;
  }
  .content-secondary h2 {
    position: absolute;
    left: -9999px;
  }
  .content-secondary .ui-li-divider {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .content-secondary {
    margin: 0;
    padding: 0;
  }
  
}
@media all and (min-width: 750px){
  .content-secondary {
    width: 34%;
  }
  .content-primary {
    width: 60%;
    padding-right: 1%;
  }	
}

@media all and (min-width: 1200px){
  .content-secondary {
    width: 30%;
    padding-right:6%;
    margin: 0px 0 20px 5%;
  }
  .content-secondary ul {
    margin: 0;
  }
  .content-secondary {
    margin: 0;
    padding: 0;
  }
  .content-primary {
    width: 50%;
    margin-right: 5%;
    padding-right: 3%;
  }
  .content-primary {
    width: 60%;
  }
}

/* global */
body {
  -webkit-touch-callout: none;
}

strong {
	font-weight: bold;
}

/*footer*/
.aboutService {
  text-align: right;
  margin: 5px 0 3px 0;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  background: #FFF;
  color: #000;
  padding: 0;
  height: 30px;
}

.aboutService ul {
  margin: 5px 0 0 0;
  padding: 0;
}

.aboutService li{
  display:inline;
  font-size: 13px;
  border-right:1px solid #666;
  letter-spacing: 1px;
}

.aboutService li a{
  top: -20px;
  padding: 5px 1.5%;
  text-decoration: none;
  text-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
}

.aboutService li a:active{
  background:#DDD;
}

.aboutService .last{
  display:inline;
  font-size: 13px;
  border: none;
  letter-spacing: 1px;
}

/* copyright */
.copyright {
  text-align: center;
  color: #888;
  font-size: 75%;
  margin: 10px 0 20px 0;
}

/* 突き抜けない処理 */
#commentTitleRank, #commentBodyTextRank, #commentTitle, #commentBodyText, #body, #title {
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
}

/* dataImportPage */
body, #home {
  background: #f0f0f0;
}

.topTitle a {
  padding: 2px;
  margin: 5px 0 0 3px;
}

#explain {
  margin-bottom: 20px;
}

.submmit {
  text-align: center;
}

.homeContent {
  text-align: center;
}

.description {
  font-size: 90%;
}

.searchArea {
  margin: auto;
  font-size: 90%;
  width: 95%;
  /* background: #FFF; */
}

.searchArea select{
  margin: 10px 0;
}

.searchArea div{
  text-align: left;
}

.searchArea div a {
  text-decoration: none;
  color: #289EC9;
}

#searchButton {
  margin: 10px 0 10px 0;
}

.result {
  margin: 10px auto;
}

#result li {
  border: 1px solid #DDD;
  border-top: none;
  border-left: none;
  border-right: none;
  /* border-radius: 8px; */
  /* margin-top: 10px; */
  background: #FFF;
  overflow: visible;
  /* -webkit-tap-highlight-color: rgba(82, 184, 207, 0.4);　*/
}

.resultInfo {
  text-align: left;
  margin: 0;
  padding: 10px;
  border: none;
  overflow: hidden;
  max-height: 50px;
}

.resultInfo a {
  text-decoration: none;
}

.resultInfo a:link{
  text-decoration: none;
}

.productName {
  margin: 0 0 3px 0;
  font-weight: bold;
  font-size: 18px;
  color: orange;
}

.os {
  margin: 2px 0 3px 0;
  font-size: 80%;
  color: #000;
}

.cpu {
  margin: 2px 0 0 0;
  font-size: 75%;
  color: gray;
}

.height {
  margin: 0 0 0 10px;
  font-size: 100%;
  color: gray;
}

.displaySize {
  margin: 0;
  font-size: 100%;
  color: gray;
}

.weight {
  white-space: nowrap;
}

	.weight input.ui-input-text, .weight textarea.ui-input-text {
	  display: inline;
	}

#weightMin, #weightMax {
  margin: 0;
  width: 60px;
}

/*
.weightSpan {
  width: 100%;
}
*/

.twitter .twitter-timeline {
  text-align: center;
  margin: 10px auto;
  width: 90%;
}

.amazonP {
  text-align: center;
  margin: -10px 0 5px 0;
  min-width: 200px;
}

#amazon {
  color: blue;
  font-size: 70%;
  margin: 0 0 0 5px;
  padding: 6px 3px;
  border-radius: 2px;
  background: #eee;
  -webkit-tap-highlight-color: rgba(82, 184, 207, 0.4)
}

#amazon img{
  margin: 0 5px 0 0;
  width: 30px;
  height: 30px;
}

.twitterP {
  text-align: center;
  margin: 0px 0 10px 0;
  min-width: 200px;
}

#twitterOpen {
  color: blue;
  font-size: 70%;
  margin: 0 0 0 5px;
  padding: 6px 3px;
  border-radius: 2px;
  background: #eee;
  -webkit-tap-highlight-color: rgba(82, 184, 207, 0.4)
}

#twitterOpen img{
  margin: 0 5px 0 0;
  width: 30px;
  height: 30px;
}

#matharea {
  height: 400px;
}

.keywordP span {
  margin: 10px 0 0 0;
  color: orange;
  font-size: 85%;
}

/* demo */
#twitter,
#twitter_search,
#twitter_hash {
  margin: 0;
  width: 90%;
  height: 200px;
  overflow: auto;
  color: #666;
  border: 1px solid #CCC;
}

.atloading {
  text-align: center;
}

.attweets {
  margin: 0;
  font-size: 12px;
  border-width: 2px;
  border-radius: 3px;
  border-color: #000;
}

.attweet {
  clear: both;
  margin: 0 5px 5px 5px;
  padding: 10px;
  border: 1.5px solid #EEE;
  border-radius: 7px;
  background: #FFE;
  -webkit-tap-highlight-color: rgba(82, 184, 207, 0.4);
}

.tweetlink {
  overflow: visible;
  text-decoration: none;
  color: #111;
}

.attweet:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.attweet { display: inline-block; }
/* exlude MacIE5 \*/
* html .attweet { height: 1% }
.attweet {display:block;}
/* end MacIE5 */

.attweets .atphoto {
  float: left;
  width: 48px;
  margin: 0;
  padding: 1px;
  border: 1px solid #CCC;
}

.attweets .attext {
  margin: 0 0 1em 62px;
  text-align: left;
}

.attweets .atstatus {
  margin: 0 0 0 62px;
  text-align: left;
}

.moreReadButton {
  margin: 10px 0;
}

.moreReadButton a {
  color: #333;
  font-size: 80%;
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 8px;
  background: #eee;
  -webkit-tap-highlight-color: rgba(82, 184, 207, 0.4);
}


#backToTop {
  padding: 15px;
  background: rgba(243, 134, 15, 0.5);
  border-radius: 5px;
  position: fixed;
  right: 5px;
  bottom: 5px;
}

#backToTop a {
  color: #000;
  text-decoration: none;
  font-family : Helvetica, Arial, sans-serif;
  font-size: 70%;
  font-weight: bold;
}


/* ====================================
  infomationPage
======================================= */

#infomationPage {
  opacity: 0.95;
  color: black;
  font-weight: lighter;
  font-family: Hiragino Maru Gothic Pro, Helvetica, Arial, Meiryo, sans-serif;
  text-decoration: none;
  text-shadow: none;
  background: #FFF;
}

.infoImg {
  width: 70%;
  max-width: 200px;
  margin: 15px auto;
/*  border: 1px solid #DDD; */
  display: block;
}
